@font-face {
	font-family: "Doto";
	src: url("../fonts/Doto/Doto-VariableFont_ROND,wght.ttf");
}

@font-face {
	font-family: "VT323";
	src: url("../fonts/VT323/VT323-Regular.ttf");
}

* {
	/*--primaryColor: #e96002ff;*/
	--primaryColor: slateblue;
	color: white;
	box-sizing: border-box;
	font-family: VT323;
	font-size: 16pt;
}

body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	background: linear-gradient(to top left, darkcyan, darkslateblue) fixed;
	display: flex;
	flex-direction: column;
	align-items: center;

	h1 {
		font-size: 64pt;
		margin-top: 4rem;
	}
}

section.controls {
	display: flex;
	justify-content: center;
	gap: 42px;
	margin-top: 2rem;
	margin-bottom: 2rem;
	width: 80vw;

	& div {
		background: var(--primaryColor);
		border: solid 4px white;
		border-radius: 8px;
		padding: 0.2rem 0.8rem;
	}
	
	& label {
		font-size: 16pt;
		color: white
	}
	
	& input[type="checkbox"] {
		
	}
}

button {
	color: white;
	background: var(--primaryColor);
	border: solid 4px white;
	border-radius: 8px;
	font-size: 16pt;
	padding: 0.2rem 0.8rem;
	transition: all 200ms;

	&:active {
		background: hsl(from var(--primaryColor) calc(h + 180) s l);
		border: solid 4px black;
	}
}

textarea {
	justify-self: center;
	width: 60vw;
	height: 80vh;
	resize: none;
	background: khaki;
	color: black;
	border: none;
	border-radius: 16px;
	border-bottom-left-radius: 0;
	padding: 2rem;
	font-size: 24pt;
}

#library {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 20vh;
	width: 80vw;

	& ul {
		list-style: none;
		padding: 0;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		width: 80vw;
		gap: 0.5rem;

		& li {
			margin: 0;
			padding: 0.2rem 0.8rem;
			background: var(--primaryColor);
			border: solid 4px white;
			border-radius: 8px;
			color: white;
			display: flex;
			flex-direction: row;
			align-items: center;

			& label {
				margin-left: 1rem;
			}

			& button {
				margin: 0.2rem;
			}
			& button:first-of-type {
				margin-left: auto;
			}
		}
	}
}

nav ul {
	list-style: none;
	padding: 0;
	margin-top: 8rem;

	& li {
		margin-bottom: 2rem;
	}
}

